{% extends 'main/base.html' %}

{% block content %}

<section class="about">

<div class="about-container">

<div class="about-left">
<h4>ABOUT ME</h4>
<h2>Who I Am</h2>
</div>

<div class="about-right">

<p>
I am Ritik Yadav, a second-year B.Tech CSE student specializing in Artificial Intelligence and Machine Learning.
</p>

<p>
I am passionate about Backend Development, Django, Python, Machine Learning and creating elegant digital experiences.
</p>

<p>
I have built several real-world projects including AI Code Reviewer, SRE AI Incident Root Cause Analyzer, Electrical Edge Ebook Store and Spam Email Classifier.
</p>

<p>
My goal is to become a Backend Developer and AI/ML Engineer while continuously learning and building impactful solutions.
</p>

</div>

</div>

</section>

{% endblock %}