{% extends 'main/base.html' %}

{% block content %}

<section class="contact-section">

    <h4>GET IN TOUCH</h4>
    <h2>Let's Work Together</h2>

    <div class="contact-container">

        <!-- Left Side -->
        <div class="contact-info">

            <div class="contact-card">
                <h3>Email</h3>
                <p>ritikyadav11741@gmail.com</p>
            </div>

            <div class="contact-card">
                <h3>Location</h3>
                <p>Lucknow, Uttar Pradesh, India</p>
            </div>

            <div class="contact-card">
                <h3>Education</h3>
                <p>B.Tech CSE (AI & ML)</p>
            </div>

        </div>

        <!-- Right Side -->
        <div class="contact-form">

            <form>

                <input type="text" placeholder="Your Name">

                <input type="email" placeholder="Your Email">

                <input type="text" placeholder="Subject">

                <textarea rows="6" placeholder="Message"></textarea>

                <button type="submit" class="gold-btn">
                    Send Message
                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}