{% extends 'main/base.html' %}

{% block content %}

<section class="experience-section">

<h4>MY JOURNEY</h4>

<h2>Experience Timeline</h2>

<div class="timeline">

<div class="timeline-item">

<div class="timeline-dot"></div>

<div class="timeline-content">

<span>2026</span>

<h3>Web Developer Intern</h3>

<p>Cognifyz Technologies</p>

<p>
Worked on frontend development, web design and practical projects.
</p>

</div>

</div>

<div class="timeline-item">

<div class="timeline-dot"></div>

<div class="timeline-content">

<span>2026</span>

<h3>AI/ML Project Development</h3>

<p>
Developed AI Code Reviewer, SRE AI Incident Analyzer and Spam Email Classifier.
</p>

</div>

</div>

<div class="timeline-item">

<div class="timeline-dot"></div>

<div class="timeline-content">

<span>2025 - Present</span>

<h3>B.Tech CSE AI/ML</h3>

<p>Khwaja Moinuddin Chishti Language University</p>

</div>

</div>

</div>

</section>

{% endblock %}