{% extends 'main/base.html' %}

{% block content %}

<section class="skills-section">

<h4>MY SKILLS</h4>
<h2>Technical Skills</h2>

<div class="skills-container">

<div class="skill">
<div class="skill-info">
<span>Python</span>
<span>85%</span>
</div>

<div class="progress-bar">
<div class="progress python"></div>
</div>
</div>

<div class="skill">
<div class="skill-info">
<span>Django</span>
<span>80%</span>
</div>

<div class="progress-bar">
<div class="progress django"></div>
</div>
</div>

<div class="skill">
<div class="skill-info">
<span>HTML/CSS</span>
<span>90%</span>
</div>

<div class="progress-bar">
<div class="progress htmlcss"></div>
</div>
</div>

<div class="skill">
<div class="skill-info">
<span>JavaScript</span>
<span>75%</span>
</div>

<div class="progress-bar">
<div class="progress javascript"></div>
</div>
</div>

<div class="skill">
<div class="skill-info">
<span>Machine Learning</span>
<span>70%</span>
</div>

<div class="progress-bar">
<div class="progress ml"></div>
</div>
</div>

</div>

</section>

{% endblock %}